.toolbar{
    width: 100%;
    padding: 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 8%;
    background-color: #F0F8FF;
}

.material-symbols-outlined{
    cursor: pointer;
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

#newProductForm{
    /* display: none; */
    position: fixed;
    top: 70px;
}

#newProductForm{
    display: none;
}

#table-wrapper {
    width: 100%;
    /* position: relative; */
    padding-top:50px;   
}

#table-wrapper th {
    font-weight: bolder;
    color: #ddd;
    padding: 15px;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }